.btn {
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image: linear-gradient(#19cbac, #00bd9f);
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 124px;
  padding: 11px 0;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &:active {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(#16c5a7, #00a38a);
  }
}
