.number-full {
  height: 28px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0 5px 10px;
  border: 1px solid #d3d3d3;
  outline: none;
  position: relative;
  width: 100%;
}

.number-short {
  @extend .number-full;
  width: 70px;
}
 