.rw-container {
  padding: 66px 60px 50px;
  background-color: #fff;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  margin: 70px auto;
  width: 422px;
}

.rw-title {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 6px;
}

.rw-content {
  padding-left: 20px;

  &__field {
    padding: 9px 0;
  }

  &__load {
    margin-bottom: 22px;
  }
}
