.pn {
  position: relative;

  &__flag-holder {
    position: absolute;
    top: 4px;
    left: 10px;
  }

  &__input {
    font-size: 14px;
    line-height: 16px;
    outline: none;
    height: 28px;
    padding: 4px 10px 4px 38px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    width: 174px;
  }
}
