.fashion-scroll::-webkit-scrollbar {
  width: 14px;
  background-color: #fff;
  // background-color: transparent;
}

.fashion-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  background-color: #ccc;
}

.fashion-scroll::-webkit-scrollbar-track {
  margin: 4px 0;
  background-color: #ccc;
  border: 6px solid #fff;
}
